<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ion-view hide-tabs>
			<ion-content class="fff">
				<div class="retrievepOuter">
					<div class="retrievepMain">
						<ul>
							<li>
								<div class="retrievepItem">
									<div class="retrievepItemOuter">
										<span class="label"><b>*</b>新密码</span>
										<p>
											<input type="password" class="_txt" placeholder="点击填写" ng-model="$parent.newpass" />
										</p>
									</div>	
								</div>
							</li>
							<li>
								<div class="retrievepItem">
									<div class="retrievepItemOuter">
										<span class="label"><b>*</b>再次输入</span>
										<p>
											<input type="password" class="_txt" placeholder="点击填写" ng-model="$parent.newpassword" />
										</p>
									</div>	
								</div>
							</li>
						</ul>
					</div>
					<div class="retrievepButton">
						<a href="javascript:void(0)" ng-click="reset()">完成并登录</a>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</body>
</html>
