<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ion-view hide-tabs>
			<ion-content class="fff">
				<div class="retrievepOuter">
					<div class="retrievepMain">
						<ul>
							<li>
								<div class="retrievepItem">
									<div class="retrievepItemOuter">
										<span class="label"><b>*</b>手机号码</span>
										<p>
											<input type="text" class="_txt" placeholder="点击填写" ng-model="$parent.phone" />
										</p>
									</div>	
								</div>
								<a href="javascript:void(0)" class="sendCode" ng-click="sendCode($event)">验证码</a>
							</li>
							<li>
								<div class="retrievepItem">
									<div class="retrievepItemOuter">
										<span class="label"><b>*</b>验证码</span>
										<p>
											<input type="text" class="_txt" placeholder="点击填写" ng-model="$parent.code" />
										</p>
									</div>	
								</div>
							</li>
						</ul>
					</div>
					<div class="retrievepButton">
						<a href="javascript:void(0)" ng-click="checkCode()">下一步</a>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</body>
</html>
